@charset "UTF-8"; /* La feuille de style est encodée en Unicode UTF-8 */

/**********************************************************************/
/* Fichier ...................... : style-Grounded.css
/* Type ......................... : Document CSS
/* Titre ........................ : Positionnement avec display
/* Auteurs ....................... : Abdel Kader Mbouombouo Kenfack, Kian Larivière, Wologbo Charlemagne Dobe, Naïla Alvarez, Vincent Gagnon 
/* Date de création ............. : 2025-11-08
/**********************************************************************/

/* Début du code! */

*{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-family: "Black Ops One", system-ui;
}

h1, h2 {
  font-weight: 400;
  color:rgba(212, 200, 154);
}

p{

}

body {
    box-sizing: border-box;
    background: url("../images/background_sunset.png") fixed center;
    background-size: cover;
}

header{
    width: 100%;
}

header img{
    width: 100%;
    height: 250px;
}

.abdel_Main {
    margin: auto;
    min-height: 100vh;
    width: 1200px;
    background-color: #120639f4;
    box-shadow: 0 0 15px rgb(23, 3, 26);
    border-radius: 3px;
}

nav {
    position : sticky;
    top : 0px;
    z-index: 999;

    background-color: rgba(30, 5, 2);
    max-width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav li{
    width: 12.5%;
    border-bottom: solid rgb(52, 129, 38) 7px; 
    text-align: center;   
}

nav a {
    width: 100%;
    /*border: solid rgb(255, 0, 221) 1px;
    border-radius: 10px;*/
    text-align: center;
    font-size: 2em;
    color: rgb(158, 204, 10);
    text-decoration: none;
}

.liens_simples:hover{
    color: rgba(212, 202, 149);
}
