@charset "UTF-8"; /* La feuille de style est encodée en Unicode UTF-8 */

/**********************************************************************/
/* Fichier ...................... : style-Grounded.css
/* Type ......................... : Document CSS
/* Titre ........................ : Positionnement avec display
/* Auteurs ....................... : Abdel Kader Mbouombouo Kenfack, Kian Larivière, Wologbo Charlemagne Dobe, Naïla Alvarez, Vincent Gagnon 
/* Date de création ............. : 2025-11-08
/**********************************************************************/

/* Début du code! */

nav {
    position : fixed;
}