@charset "UTF-8"; /* La feuille de style est encodée en Unicode UTF-8 */

/**********************************************************************/
/* Fichier ...................... : style-Grounded.css
/* Type ......................... : Document CSS
/* Titre ........................ : Positionnement avec display
/* Auteurs ....................... : Abdel Kader Mbouombouo Kenfack, Kian Larivière, Wologbo Charlemagne Dobe, Naïla Alvarez, Vincent Gagnon 
/* Date de création ............. : 2025-11-08
/**********************************************************************/

/* Début du code! */

/*mise en page universelle a toutes les pages - Abdel et Vincent*/

*{
    margin: 0px;
    padding: 0px;
    font-family: "Black Ops One", system-ui;
    max-width: 100%;
}

h1, h2, h3 {
  font-weight: 400;
}

h1 {
  display: block;
  background-color: rgba(255, 77, 0, 0.77);
  color:rgba(212, 200, 154);
}

h3, h2 {
  display: block;
  color: rgb(254, 99, 32);
h2, h3{
    color: rgb(254, 99, 32);
}

p {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background: url("../images/background_sunset.png") fixed center;
    background-size: cover;
}

header{

}


main {
    margin: auto;
    width: 80%;
    background-color: rgba(18, 6, 57, 0.957);
    box-shadow: 0 0 30px rgb(0, 0, 0);
    box-sizing: border-box;
}

nav {
    position : sticky;
    top : 0px;
    z-index: 10;
    background-color: rgba(30, 5, 2);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav li{
    width: 12.5%;
    border-bottom: solid rgb(52, 129, 38) 5px; 
    text-align: center;   
}

nav a {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: rgb(158, 204, 10);
    text-decoration: none;
}

nav li:hover{
    a{
        color: rgb(214, 250, 100);
    }
    border-bottom: solid rgb(157, 203, 10) 7px;
}

header{

}

main {
    margin: auto;
    width: 80%;
    background-color: rgba(18, 6, 57, 0.957);
    box-shadow: 0 0 30px rgb(0, 0, 0);
    box-sizing: border-box;
}
