@charset "UTF-8"; /* La feuille de style est encodée en Unicode UTF-8 */

/**********************************************************************/
/* Fichier ...................... : style-Grounded.css
/* Type ......................... : Document CSS  
/* Titre ........................ : Positionnement avec display
/* Auteurs ....................... : Abdel Kader Mbouombouo Kenfack, Kian Larivière, Wologbo Charlemagne Dobe, Naïla Alvarez, Vincent Gagnon 
/* Date de création ............. : 2025-11-08
/**********************************************************************/

/* Début du code! */

/*mise en page universelle a toutes les pages - Abdel et Vincent*/

*{
    margin: 0px;
    padding: 0px;
    font-family: "Black Ops One", system-ui;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 400;
}

header h1 {
  text-align: center;
  display: block;
  background-color: rgba(215, 66, 2, 0.918);
  border-radius: 10px 0px;
  border: solid;
  color:rgba(212, 200, 154);
  height: 5%;
  width: 20%;
  font-size: 1.5em;
  position: absolute;
  top: 20%;
  left:20%;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

h2, h3, th{
  color: rgb(254, 99, 32);
}

p, main a, td, label, li{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color:rgba(212, 200, 154);
    text-align: justify;
}

body {
    background: url("../images/background.png") fixed center;
    background-size: cover;
    width: 100%;
}

nav {
    position : sticky;
    top : 0px;
    z-index: 10; /* N'importe quoi de plus haut que 0 */
    background-color: rgba(30, 5, 2);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav li{
    width: 12.5%;
    border-bottom: solid rgb(52, 129, 38) 5px; 
    text-align: center;   
    height: 5%;
}

nav a {
  display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: rgb(158, 204, 10);
    text-decoration: none;
}

nav li:hover{
    a{
        color: rgb(214, 250, 100);
    }
    border-bottom: solid rgb(157, 203, 10) 7px;
}

main {
    margin: auto;
    width: 80%;
    background-color: rgba(18, 6, 57, 0.957);
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

footer{
  max-height: 250px;  /* dimension volontairement trop petite pour contenir le footer -> sert a enlever un espace qui apparaitrait entre le footer et la fin de la page */
}

footer div{
    display: flex;
    position: relative;
    bottom: 30px;
    left: 10px;
}

footer>p{
  position: relative;
  top: 340px;
  left: 10px;
}

/**********Abdel_personnages********/
.abdel_Main section h3,h2 {
  text-align: left;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.811);
}
.Abdel_characters-list {
  padding: 2% 0.5%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Abdel_character {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.Abdel_char-icon img {
  width: 2em; 
  height: 2em;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  border: 2px solid rgba(215,66,2,0.9);
  transition: transform 0.2s;
}
.Abdel_char-icon:hover img {
  transform: translateX(-2px) scale(1.02);
  box-shadow: -4px 4px 7px rgba(215,66,2,0.25);
}

.Abdel_char-name {
  font-size: 140%;
  margin: 0;
  color: #d4c89a;
}
/*minitable personnelle*/
#char-max>div {
  padding-top: 2%;
}
#char-max>div>div {
  display:flex;
  padding-top: 10px;
}

#char-max>div>div p {
  border-bottom: 2px solid #d4c89a;
  padding-right: 30px;
}

#char-max {
  background-color: rgb(143, 116, 86);
  display: flex;
  border: 4px solid rgb(215,66,2,0.9);
  border-radius: 10px;
  margin: 5px 0 5px 0;
}

#char-hoops {
  background-color: rgb(52, 129, 38);
}

#char-pete {
  background-color: rgb(111, 163, 51);
}

#char-willow {
  background-color: rgb(103, 25, 99);
}

.abdel_Main>div>aside img {
  width: 30%;
}

.abdel_Main>div>aside>div {
  width: 70%;
}

/***********Abdel_remerciement*********/


/***********Charlemagne*********/

/* Début du code! */

.Charlemagne_part h2{
    text-align: center;
}

.Charlemagne_part h3{
    text-align: center;
    text-decoration: underline;
}

.Charlemagne_part p {
  text-align: justify;
}

.Charlemagne_part iframe{
    display: block;
    border: 2px solid grey;
    border-radius: 10px;
}

#charlemagne_article_pc{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

div label{
    float: left;
    width: 110px;
}

div textarea{
    float: left;
    width: 210px
}

.charlemagne_article1_2_pc{
    border: 2px solid grey;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#charlemagne_envoyer_initialiser_pc{
    text-align: center;
}

.charlemagne_outils{
   display: flex;
   border: 5px solid rgb(175, 70, 41);
   border-radius: 5px;
   margin-top: 5px;
   width: 50%;
   background-color: rgb(150, 100, 86);
   margin-bottom: 10px;
   padding: 10px;
  
}
.charlemagne_outils p{
color: black;
}

.charlemagne_display_outils{
    display: flex;
    gap:10px;
}

::placeholder{
  font-family: "Oswald", sans-serif;
}

.Charlemagne_part label, legend{
  color:rgba(212, 200, 154);
  font-family: "Oswald", sans-serif;
  padding: 5px;
}

.Charlemagne_part section h4{
  color: maroon;
}

.Charlemagne_part section img{
max-width: 100px;
}

.liste_imbrique{
 background-color: rgba(18, 6, 57, 0.957);
 align-content: center;
}

#liste_imbrique{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.liste_primaire{
background-color: rgba(215, 66, 2, 0.918);
font-family: "Black Ops One", system-ui;
text-decoration: none;
justify-items: center;
}

.liste_secondaire{
  text-decoration: none;
  color: rgb(157, 203, 10) ;
}

/* ********Vincent map ********** */

.Vincent-map table{
  margin: 0px 10px;
}

.Vincent-map table img{
    border: rgb(255, 255, 175, 0.6) solid 3px;
}

.Vincent-map th{
    text-align: center;
    font-size: 2em;
    width: 50%;
    border-radius: 15px;
    border: rgb(255, 255, 175, 0.6) 3px solid;
    padding: 2.5% 0%;
}

.Vincent-map tr:first-of-type th{
    font-size: 2.5em;
    padding: 3%;
    width: 100%;
}

.Vincent-map td{
    text-align: justify;
    width: 25%;
    padding: 2.5%;
    border-radius: 25px;
    border: rgb(255, 255, 175, 0.6) 2px solid;
    background-color: rgba(138, 25, 80, 0.841);
}

/* Vincent accueil */

.Vincent-index main>div, div:not(div:first-of-type) section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px;
}

.Vincent-index div:first-of-type section{
    width: 70%;
    margin: 0px 30px;
}

.Vincent-index aside{
    width: 20%;
    margin-right: 30px;
}

.Vincent-index aside>*{
    border: solid 3px rgb(214, 250, 100);
    padding: 5px;
}

.Vincent-index section img{
    max-width: 40%;
    min-width: 15%;
    margin: 0px 20px;
}

.Vincent-index h2, h3{
    width: 80vw;
    text-align: center;
    font-size: 2em;
}

.Vincent-index div:not(div:first-of-type) p{
    max-width: 50%;
    margin: 0px 20px;
}

.Vincent-index video{
    margin: auto;
    margin-top: 10px;
}

/* Kian_histoire*/

.Kian-story main {
  padding-bottom: 1em;
  border-radius: 6px;
}

.Kian-story section {
  padding: 2% 1%;
}

.Kian-story article {
    margin-bottom: 15px;
    padding: 1.5% ;
    background: rgba(255, 255, 255, 0.05);
    border-left: 4px solid rgba(215, 66, 2, 0.9);
    border-radius: 6px;
    text-align: center;
}

.Kian-story h2 {
    font-size: 2em;
    margin-bottom: 5px;
    text-align: center;
}

.Kian-story h3 {
    font-size: 1.6em;
    margin-bottom: 5px;
    text-align: left;
}

.Kian-story main p {
    line-height: 110%;
    margin-bottom: 8px;
}

.Kian-story ul {
    margin-left: 15px;
}

.Kian-story ul li {
    margin-bottom: 8px;
}

.Kian-story header section {
    padding-bottom: 4% ;
    text-align: center;
}

.Kian-story header p {
    width: 70%;
    margin: 10px auto;
}

.Kian-story header img:first-child {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.Kian-story header img:nth-child(2) {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 160px;
}


/* Page créateurs */

.kian-createurs main > header > section {
  display: block;
  text-align: center;
  padding: 32px 16px;      
}

.kian-createurs main > header img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 16px;     
}

.kian-createurs main > section {
  display: flex;
  align-items: center;
  gap: 32px;               
  margin: 40px 0;          
}

.kian-createurs main > section h2 {
  flex: 1;
  font-size: 32px;         
}

.kian-createurs main > section p {
  flex: 2;
  font-size: 17.6px;       
  line-height: 25.6px;     
}

.kian-createurs main > section img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}




/* hommage a Naila qui nous a quitte */


.hommage main>p{
  font-size: 3em;
  padding: 30px;
}