@charset "UTF-8"; /* La feuille de style est encodée en Unicode UTF-8 */

/**********************************************************************/
/* Fichier ...................... : style-Grounded.css
/* Type ......................... : Document CSS
/* Titre ........................ : Positionnement avec display
/* Auteurs ....................... : Abdel Kader Mbouombouo Kenfack, Kian Larivière, Wologbo Charlemagne Dobe, Naïla Alvarez, Vincent Gagnon 
/* Date de création ............. : 2025-11-08
/**********************************************************************/

/* Début du code! */

/*mise en page universelle a toutes les pages - Abdel et Vincent*/

*{
    margin: 0px;
    padding: 0px;
    font-family: "Black Ops One", system-ui;
    max-width: 100%;
    box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 400;
}

header h1 {
  display: block;
  background-color: rgba(215, 66, 2, 0.918);
  border-radius: 10px;
  border: solid;
  color:rgba(212, 200, 154);
  height: 36px;
  width: 280px;
  font-size: 1.5em;
  position: absolute;
  top: 90px;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

header>img {
  right: 100px;
  top: 20px;
  width:7em;
  font-size: 1.5em;
  position: absolute;
  top: 130px;
}

h2, h3, th{
  color: rgb(254, 99, 32);
}

p, main a, td{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color:rgba(212, 200, 154);
    text-align: justify;
}

body {
    background: url("../images/background_sunset.png") fixed center;
    background-size: cover;
    width: 100%;
}

nav {
    position : sticky;
    top : 0px;
    z-index: 10;
    background-color: rgba(30, 5, 2);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav li{
    width: 12.5%;
    border-bottom: solid rgb(52, 129, 38) 5px; 
    text-align: center;   
    height: 30px;
}

nav a {
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: rgb(158, 204, 10);
    text-decoration: none;
}

nav li:hover{
    a{
        color: rgb(214, 250, 100);
    }
    border-bottom: solid rgb(157, 203, 10) 7px;
}

main {
    margin: auto;
    width: 80%;
    background-color: rgba(18, 6, 57, 0.957);
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.main_padding {
    padding: 8px;
}

article img {
    width: 30%;
}

footer{
    
}

/**********Abdel_personnages********/


.Abdel_characters-list {
  padding: 2% 0.5%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Abdel_character {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.Abdel_char-icon img {
  width: 2em; 
  height: 2em;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  border: 2px solid rgba(215,66,2,0.9);
  transition: transform 0.2s;
}
.Abdel_char-icon:hover img {
  transform: translateX(-2px) scale(1.02);
  box-shadow: -4px 4px 7px rgba(215,66,2,0.25);
}

.Abdel_char-name {
  font-size: 140%;
  margin: 0;
  color: #d4c89a;
}

#char-max {
  background-color: rgb(223, 208, 1);
  display: flex;
}

#char-hoops {
  background-color: rgb(219, 17, 185);
}

#char-pete {
  background-color: rgb(111, 163, 51);
}

#char-willow {
  background-color: rgb(103, 25, 99);
}

.abdel_Main>div>aside img {
  width: 30%;
}

.abdel_Main>div>aside>div {
  width: 70%;
}

/***********Abdel_remerciement*********/


/***********Charlemagne*********/
@charset "UTF-8";

/* La feuille de style est encodée en Unicode UTF-8 */

/* Début du code! */

h2{
    text-align: center;
}

h3{
    text-align: center;
    text-decoration: underline;
}

p {
  text-align: justify;
}

iframe{
    display: block;
}

#charlemagne_article_pc{
    display: flex;
    gap: 20px;
    justify-content: center;
}

div label{
    float: left;
    width: 110px;
}

div textarea{
    float: left;
    width: 250px
}

.charlemagne_main_pc_po{
padding-top: 30px;
}

#charlemagne_article2_pc{
    border: 2px solid grey;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#charlemagne_envoyer_initialiser_pc{
    text-align: center;
}

.charlemagne_outils{
   display: flex;
   border: 2px solid gray;
   border-radius: 5px;
   margin-top: 5px;
   width: 50%;
}

.charlemagne_display_outils{
    display: flex;
    gap:10px;
}

a{
  text-decoration: none;
  padding-right: 20px;
}

::placeholder{
  font-family: "Oswald", sans-serif;
}

label, legend{
  color:rgba(212, 200, 154);
  font-family: "Oswald", sans-serif;
}


