main>div, div:not(div:first-of-type) section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

div:first-of-type section:first-of-type{
    width: 70%;
}

aside{
    width: 20%;
    margin-right: 30px;
    border: solid 3px rgb(255, 255, 175, 0.6);
}

aside>*{
    border: solid 3px rgb(255, 255, 175, 0.6);
}

div:first-of-type section{
    margin: 0px 30px;
}

section img{
    max-width: 40%;
}

h2, h3{
    width: 80vw;
    text-align: center;
    font-size: 2em;
}

div:not(div:first-of-type) p{
    max-width: 50%;
}