.Vincent-map table img{
    border: whitesmoke solid 3px;
}

.Vincent-map th{
    text-align: center;
    font-size: 2em;
    width: 50%;
    border-radius: 15px;
    border: whitesmoke 3px solid;
    padding: 2.5% 0%;
}

.Vincent-map tr:first-of-type th{
    font-size: 2.5em;
    padding: 3%;
    width: 100%;
}

.Vincent-map td{
    text-align: justify;
    width: 25%;
    padding: 2.5%;
    border-radius: 25px;
    border: whitesmoke 2px solid;
    background-color: rgba(138, 25, 80, 0.841);
}