.Vincent-map table{
    border-collapse: collapse;
}

.Vincent-map th{
    text-align: center;
    font-size: 2em;
    width: 50%;
}

.Vincent-map td{
    text-align: justify;
    width: 20%;
    padding: 2.5%;
    border-radius: 3px;
    border: whitesmoke 3px solid;
}